<div class="container">
  <div [hidden]="submitted">
    <h1>Certificate Signing Request Form</h1>
    <form (ngSubmit)="onSubmit()" #csrForm="ngForm">
      {{diagnostic}}
      
      <div class="form-group">
        <label for="country">Country</label>
        <input type="text" class="form-control" id="name" required
              [(ngModel)]="certData.country" name="country"
              #country="ngModel"
              #spy>
        <br>TODO: Remove This: {{spy.className}}
        <div [hidden]="country.valid || country.pristine" class="alert alert-danger">
          Country is required
        </div>
      </div>

      <div class="form-group">
        <label for="state">State</label>
        <input type="text" class="form-control" id="name" required
              [(ngModel)]="certData.state" name="state"
              #state="ngModel"
              #spy>
        <br>TODO: Remove This: {{spy.className}}
        <div [hidden]="state.valid || state.pristine" class="alert alert-danger">
          State is required
        </div>
      </div>

      <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" id="name" required
              [(ngModel)]="certData.city" name="city"
              #city="ngModel"
              #spy>
        <br>TODO: Remove This: {{spy.className}}
        <div [hidden]="city.valid || city.pristine" class="alert alert-danger">
          City is required
        </div>
      </div>

      <div class="form-group">
        <label for="organization">Organization</label>
        <input type="text" class="form-control" id="name" required
              [(ngModel)]="certData.organization" name="organization"
              #organization="ngModel"
              #spy>
        <br>TODO: Remove This: {{spy.className}}
        <div [hidden]="organization.valid || organization.pristine" class="alert alert-danger">
          Organization is required
        </div>
      </div>

      <div class="form-group">
        <label for="organizationalUnit">Organizational Unit</label>
        <input type="text" class="form-control" id="name" required
              [(ngModel)]="certData.organizationalUnit" name="organizationalUnit"
              #organizationalUnit="ngModel"
              #spy>
        <br>TODO: Remove This: {{spy.className}}
        <div [hidden]="organizationalUnit.valid || organizationalUnit.pristine" class="alert alert-danger">
          Organizational Unit is required
        </div>
      </div>

      <div class="form-group">
        <label for="commonName">Common Name</label>
        <input type="text" class="form-control" id="name" required
              [(ngModel)]="certData.commonName" name="commonName"
              #commonName="ngModel"
              #spy>
        <br>TODO: Remove This: {{spy.className}}
        <div [hidden]="commonName.valid || commonName.pristine" class="alert alert-danger">
          Common Name is required
        </div>
      </div>

      <div class="form-group">
        <label for="emailAddress">Email Address</label>
        <input type="text" class="form-control" id="name" required
              [(ngModel)]="certData.emailAddress" name="emailAddress"
              #emailAddress="ngModel"
              #spy>
        <br>TODO: Remove This: {{spy.className}}
        <div [hidden]="emailAddress.valid || emailAddress.pristine" class="alert alert-danger">
          Email Address is required
        </div>
      </div>

      <div class="form-group">
        <label for="days">Valid for how many days?</label>
        <input type="text" class="form-control" id="name" required
              [(ngModel)]="certData.days" name="days"
              #days="ngModel"
              #spy>
        <br>TODO: Remove This: {{spy.className}}
        <div [hidden]="days.valid || days.pristine" class="alert alert-danger">
          730 days (two years) is the default value if left empty.
        </div>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!csrForm.form.valid">Submit</button>
      <button type="button" class="btn btn-default" (click)="newHero(); csrForm.reset()">New Certificate Request</button>
    </form>
  </div>
  <div [hidden]="!submitted">
      <h2>You submitted the following:</h2>
      <div class="row">
        <div class="col-xs-3">Country</div>
        <div class="col-xs-9  pull-left">{{ certData.country }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">State</div>
        <div class="col-xs-9  pull-left">{{ certData.state }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">City</div>
        <div class="col-xs-9  pull-left">{{ certData.city }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Organization</div>
        <div class="col-xs-9  pull-left">{{ certData.organization }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Organizational Unit</div>
        <div class="col-xs-9  pull-left">{{ certData.organizationalUnit }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Common Name (Subject)</div>
        <div class="col-xs-9  pull-left">{{ certData.commonName }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Email Address</div>
        <div class="col-xs-9  pull-left">{{ certData.emailAddress }}</div>
      </div>
      <br>
      <button class="btn btn-primary" (click)="submitted=false">Edit</button>
    </div>
</div>